
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="~/Script.js"></script>
<link rel="stylesheet" href="~/site.css">

<div class="main-content">
    <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>


    <label for="TimeZoneId">Choose a Time Zone:</label>
    <select id="TimeZoneId" name="Time Zones"></select>

    <button type="submit" onclick="GetTimeFromRequestedTimeZone()">Get the time</button>

    <div class="latest-output">
        <p id="output"></p>
    </div>

    <table id="queries">
        <tr id="results">
            <th>Query Id</th>
            <th>Time</th>
            <th>Client IP</th>
            <th>UTC Time</th>
            <th>Time Zone</th>
        </tr>
    </table>
</div>

